@import "tailwindcss";

@theme {
  --color-primary: #0052cc;
  --color-secondary: #36b37e;
  --color-tertiary: #ffab00;
  --color-neutral: #172b4d;

  --font-headline: "Hanken Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.show-scrollbar::-webkit-scrollbar {
  display: block; /* atau bisa juga pakai 'auto' */
}

.show-scrollbar {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}
